/* BODY CODE */
html, body 
{
	height: 100%;
	width: 100%;
	margin: 0px !important;
	padding: 0px !important;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;	
}

/* Turn.js design code */
#book

{
    width: 100%;
    height: 100%;
}

#book .turn-page
{
    background-color:#fff;
    background-size:100% 100%;
}

/* fonts */
.boldfont
{
	font-family: 'Open Sans', sans-serif;
}

.bookpage
{
	text-align: justify;
	width: 90%;
	min-height: 100%;
}

/* Page design stuff */
.headbar
{
	background-image: -ms-linear-gradient(top, #E00000 0%, #FF0000 100%);
	background-image: -moz-linear-gradient(top, #E00000 0%, #FF0000 100%);
	background-image: -o-linear-gradient(top, #E00000 0%, #FF0000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E00000), color-stop(1, #FF0000));
	background-image: -webkit-linear-gradient(top, #E00000 0%, #FF0000 100%);
	background-image: linear-gradient(to bottom, #E00000 0%, #FF0000 100%);

	width: 100%;
	height: 45px;

	color: #FFFFFF;
}

.headbar h1
{
	font-family: 'Open Sans', sans-serif;
	margin: 0px 0px 0px 0px;
	padding-left: 20px;
}

#canvas{
  border:               1px solid black;
  width:                500px;
  height:               500px;
}
/*
#book .shadow
{
	
	-webkit-box-shadow: -5px -5px 0 5px #000;
	-moz-box-shadow: -5px -5px 0 5px #000;
	-ms-box-shadow: -5px -5px 0 5px #000;
	-o-box-shadow: -5px -5px 0 5px #000;
	box-shadow: -5px -5px 0 5px #000;
}
*/